body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: Courier;
    font-size: larger;
}

button {
    font-family: Courier;
    font-size: larger;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: dotted;
}

a:visited {
    color: black;
    font-weight: bold;
    text-decoration: dotted;
}

a:active {
    color: black;
    font-weight: bold;
    text-decoration: dotted;
}

.logo {
    background-color: azure;
    border: 8px black solid;
    border-radius: 50%;
    margin: auto;
    justify-content: center;
    align-content: center;
    padding: 20px;
    max-width:fit-content;
}

.logo img {
    height: 30vh;
    margin: auto;
    
}

.container {
    background-color: black;
    display: block;
    height: 100vh;
    width: 100vw;
    justify-content: center center;
    align-items: center center;
}

.top {
    background-color: bisque;
    color: black;
    height: 50vh;
    align-content: center;
}

.bottom {
    padding: 5px;
    background-color: whitesmoke;
    height: 50vh;
    text-align: center;
}

.title h1 {
    font-weight: 600;
    font-size: 3em;
    font-style:normal;
}

.counter {
    display: inline-flex;
    padding: 10px;
    font-family: Courier;
    font-size: larger;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    border: 2px solid azure;
    border-radius: 5px;
}

#sub {
    margin: 15px;
}

